.catererService {
    height: 20px;
    width: 100%;
}
.decorationService {
    height: 20px;
    width: 100%;
}
.djService {
    height: 20px;
    width: 100%;
}
.venueService {
    height: 20px;
    width: 100%;
}